
/* custom global font */
body {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  height: 100%;
  width:100%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.nav li a {
  padding: 10px 13px;
}

.navbar {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  background-color: transparent;
  letter-spacing: 4px;
  border: transparent;
  min-height: 90px;
}

.navbar-collapse {
    text-align: right;
}

.navbar-collapse.in {
  background-color:white;
  text-align:right;
}

.navbar-brand a:link {
  text-decoration: none;
}

.navbar-default {
  text-align: auto;
}

.navbar-left {
  text-align:left;
}

.navbar-customlogo { /* logo text */
  font-size: 9px;
  color: black;
  letter-spacing: 1.5px;
}

.navbar-customlogo img { /* logo */
  height:6vh;
  min-height: 60px;
}

.active {
  font-style: italic;
}

.p2 {
  font-style: italic;
}

/* change navbar text color to black */
.nav.navbar-nav.navbar-right li a {
  color:black;
  font-size: 11px;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: gray;
}

/* set container padding on sides */
.container-fluid {
  padding-right: 10%;
  padding-left: 5%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

.person {
   display:block;
   margin: auto;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}

  .navbar-collapse {
    background-color: white;
  }
}


/* img fade on hover */
img {
  opacity: 1.0;
  transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -webkit-transition: opacity 0.8s ease-in-out;
}
img:hover {
  opacity: 0.7;
  transition: opacity .8s ease-in-out;
  -moz-transition: opacity .8s ease-in-out;
  -webkit-transition: opacity .8s ease-in-out;
}​
